@charset "UTF-8";
/* Extra Large devices */
ul {
  margin-top: 0;
}

.mobile {
  display: none;
}

.logo {
  padding: 10px;
}

header {
  background-color: #0a3170;
  margin: 0;
  position: fixed;
  width: 100%;
}

nav {
  text-align: center;
}

/* Drop-down menu */
nav > ul > li {
  display: inline-block;
  padding: 10px;
  position: relative;
  color: #eee;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li > ul {
  display: none;
  padding: 0;
}
nav > ul > li > ul > li > a {
  color: gray;
  text-decoration: none;
}

nav > ul > li > ul > a:hover {
  color: gray;
}
nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  list-style: none;
}
.logo {
  display: block;
  font-size: 1em;
  text-align: left;
  margin-left: 1em;
  margin-top: 55px;
  position: absolute;
  line-height: 0.7em;
}
header {
  height: 85px;
  margin-top: 0px;
}
nav > ul > li {
  margin-top: 50px;
}
header > img {
  display: none;
}
