/* ---------
Hero Section
--------- */

.hero-section {
	padding: 2.5em 15% 2.8em;
	/* Hero image taken from PublicDomainPictures.net, by axelle b
		 https://www.publicdomainpictures.net/en/view-image.php?image=150549&picture=desktop-computer-pc */
	background-image: url("/img/hero.png");
	background-size: cover;
	background-position: center;
	color: #FFF;
	margin-bottom: 2em;
	text-align: center;
}
.hero-section h1 {
	font-size: 3em;
	font-weight: 800;
}
.hero-section p {
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 1.2em 0;
}
.hero-section p:last-child {
	font-size: 1.8em;
	font-weight: 400;
	margin: 0;
}


/* ----------
Home Sections
---------- */

.home-section {
	padding: 1em 15%;
}
.home-section:first-of-type {
	padding-top: 1.5em;
}
.home-section:last-of-type {
	padding-bottom: 1.5em;
}
.home-section h2 {
	margin: .3em 0 .5em;
	color: #0A3170;
	font-size: 3em;
	text-align: center;
}

.resource__row {
	display: flex;
	justify-content: space-between;
}
.resource__box {
	width: 20%;
}