/* Medium Devices */

.logo {
  display: block;
  font-size: 1em;
  text-align: left;
  margin-left: 0;
  margin-top: 50px;
  position: absolute;
  line-height: 0.7em;
}
#menu_Items {
  font-size: 0.7em;
}
nav > ul > li {
  margin-top: 50px;
}
header {
  height: 85px;
  margin-top: 0px;
}
nav > img {
  display: none;
}
