@charset "UTF-8";
/* ===============
    CONTACT FORM
     COMPONENT
   =============== */
@charset "UTF-8";
/* ===============
        CONTACT FORM
         COMPONENT
      =============== */

.contact_form_section input {
  width: 55%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.contact_form_section input[typt="text"] {
  padding-left: 20px;
}
.contact_form_section label {
  padding: 5px;
}
.contact_form_section input[type="submit"] {
  background-color: #0a3170;
  color: white;
  padding: 2px 0px;
  border: none;
  border-radius: 4px;
  height: 15px;
}
.contact_form_section .container {
  border-radius: 5px;
  margin-left: 0%;
}
.contact_form_section {
  position: absolute;
  height: 200px;
  background-color: #f2f2f2;
  width: 100%;
}
