@charset "UTF-8";
/* ===============
   EXTERNAL LINKS 
         PAGE 
   =============== */
.External_links > div {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border: 1px dashed grey;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.External_links h1 {
  font-size: 1em;
}
.External_links p {
  font-size: 0.8em;
}
.External_links a {
  font-size: 0.7em;
}
