@charset "UTF-8";
/* extra Small Devices*/

.logo {
  display: block;
  font-size: 1em;
  margin-left: 0;
  margin-top: 55px;
  position: absolute;
  line-height: 0.7em;
}
header {
  height: 90px;
  position: relative;
  width: 100%;
  margin-top: 0px;
}

/* Drop Down Menu*/
nav > div > ul {
  display: block;
  float: right;
  position: absolute;
}
nav > button {
  display: block;
  position: relative;
  float: right;
  margin-top: 37px;
  padding: 2px 3px 2px 3px;
  border-radius: 5px;
}
nav {
  float: right;
  margin-top: 90px;
  text-align: left;
  margin-right: 58px;
}
nav > ul > li {
  display: block;
  color: #eee;
  margin: 1px 0 0 0;
  background-color: #0a3170;
  padding: 10px;
  font-size: 0.61em;
}
nav > ul > li > a {
  text-decoration: none;
  color: #eee;
}
nav > ul > li > ul > li > a {
  color: gray;
  text-decoration: none;
}

nav > ul > li > ul > a:hover {
  color: gray;
}
nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  list-style: none;
}
#menu_Items.hidden {
  display: none;
}
#menu_Items {
  width: 100vw;
}
