@charset "UTF-8";
/* ===============
   HEADER COMPONENT
   =============== */

.logo {
  display: block;
  font-size: 1em;
  float: left;
  margin-left: 0;
  margin-top: 55px;
  position: relative;
  line-height: 0.7em;
}
header {
  height: 90px;
  position: relative;
  width: 100%;
  margin-top: 0px;
}

/* Drop Down Menu*/
nav > ul {
  position: absolute;
  margin-top: 100px;
}
nav > button {
  display: block;
  position: relative;
  float: right;
  margin-top: 37px;
  padding: 2px 3px 2px 3px;
  border-radius: 5px;
}

nav > ul > li {
  display: block;
  color: #eee;
  margin: 1px 0 0 0;
  background-color: #0a3170;
  padding: 10px;
  font-size: 0.8em;
  text-align: left;
}
nav > ul > li > a {
  text-decoration: none;
  color: #eee;
}

#menu_Items.hidden {
  display: none;
}
#menu_Items {
  width: 100vw;
}
