@charset "UTF-8";
/* extra Small Devices*/

.logo {
  display: block;
  font-size: 1em;
  margin-left: 38%;
  margin-top: 05px;
  position: absolute;
  line-height: 0.7em;
}
header {
  height: 90px;
  position: fixed;
  width: 100%;
  margin-top: 0px;
}

nav > ul {
  display: block;
  font-size: 0.85em;
}
.videos {
  display: none;
}
.resources {
  display: none;
}

.ext_links {
  display: none;
}
/* mobile menu items*/
.mobile {
  display: inline;
}

.mobile > ul > li {
  display: none;
}
.about {
  display: none;
}
nav > ul > li:hover > ul > li {
  display: none;
}
