/*
	Darkest blue background: #001942;
	Dark blue background: #0A3170;
  Teal highlight: #00c0c0;
*/

h1, h2, h3, h4, h5, h6, thead, hgroup {
  font-variant: petite-caps;
  font-family: 'Forum', serif;
}

div, p, blockquote, li, label, table,
article, aside, footer, header, section {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 3em;
	text-align: center;
}

.clearfix {
	clear: both;
}