/* Large devices */
.logo {
  display: block;
  font-size: 1em;
  text-align: left;
  margin-left: 1em;
  margin-top: 55px;
  position: absolute;
  line-height: 0.7em;
}
nav > ul {
  font-size: 0.8em;
}
header {
  height: 85px;
}
nav > ul > li {
  margin-top: 50px;
}
header > img {
  display: none;
}
