@charset "UTF-8";
/* ===============
   HEADER COMPONENT
   =============== */
.logo {
  display: block;
  font-size: 1em;
  margin-left: 38%;
  margin-top: 05px;
  position: absolute;
  line-height: 0.7em;
}
header {
  height: 90px;
  position: fixed;
  width: 100%;
  margin-top: 0px;
}
nav > ul {
  display: block;
}
nav > ul > li {
  font-size: 0.8em;
}
nav > img {
  display: none;
}
