/* ---------
Hero Section
--------- */
.hero-section h1 {
	font-size: 2.5em;
}

/* ---------
Home Section
--------- */
.home-section .resource__row,
.resource-listing__boxes {
	flex-direction: column;
}
.home-section .resource__box,
.resource-listing__boxes .resource__box {
	width: 100%;
	background-size: 10%;
}

.home-section .resource__box h3,
.resource-listing__boxes .resource__box h3 {
	display: inline-block;
	padding-right: 10%;
}

.home-section .resource__box:first-child,
.resource-listing__boxes .resource__box:first-child  {
	display: inline-block;
}

.resource__box--more {
	padding: 0.3em 0;
	margin-top: 1.5em;
}
.resource__box--more img {
  height: 2em;
  vertical-align: -0.2em;
  margin-right: 1em;
}